html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#wrapper {
    display: grid;
    grid-template: "h" 1fr / 1fr;
    justify-content: center;
    align-content: center;
}

#spinnericon {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#spinnericon i {
    font-size: 18pt;
}

#canvas {
    position: relative;
    grid-area: h;
    padding: 0;
    margin: 0;
}
